{{ template "main" .}}
{{ define "title" }}{{ .Title }}{{ end }}
{{ define "head" }}
    {{ block "entrystyle" . }}{{ end }}
{{ end }}
{{ define "content" }}
    {{ range .Buckets }}
        <a class="entry" href="/{{ .Name }}/">
            <div>{{ .Name }}</div>
            <div>{{ formatTime .CreationDate }}</div>
        </a>
    {{ end }}
{{ end }}