{{ template "main" .}}
{{ define "title" }}{{ .Name }}{{ end }}
{{ define "head" }}
    <style>
        .object-container {
            margin: 32px;
        }
        .object {
            margin: 0 auto;
            width: max-content;
            text-align: center;
            background: rgb(43,42,51);
            border-radius: 4px;
            padding: 16px;
        }

        .object a {
            font-weight: 700;
        }
    </style>
{{ end}}
{{ define "content" }}

    <div class="object-container">
        <div class="object">
            <h3>{{ .Name }}</h3>
            <pre>s3://{{ .Bucket}}/{{ .Key }}</pre>
            <p>{{ .Object.ContentType }}</p>
            <p>{{ formatBytes .Object.ContentLength }}</p>
            <p>{{ formatTime .Object.LastModified }}</p>

            <a href="?location" target="_blank">Download</a>
        </div>
    </div>


{{ end }}