{{ template "main" .}}
{{ define "title" }}{{ .Name }}{{ end }}
{{ define "head" }}
    <style>
        .object-container {
            margin: 1rem;
        }
        .object {
            margin: 0 auto;
            text-align: center;
            background: rgb(43,42,51);
            border-radius: 4px 4px 0 0;
            padding: 1rem;
        }

        a.download {
            display: block;
            margin: 0 auto;
            background: rgb(48, 47, 57);
            border-radius: 0 0 4px 4px;
            padding: 1rem;
            font-weight: 700;
            text-align: center;
            border-top: 1px solid #262431;
        }

        a.download:hover {
            background: #353442;
        }
    </style>
{{ end}}
{{ define "content" }}

    <div class="object-container">
        <div class="object">
            <h3>{{ .Name }}</h3>
            <p>{{ .Object.ContentType }}</p>
            <p>{{ formatBytes .Object.ContentLength }}</p>
            <p>{{ formatTime .Object.LastModified }}</p>
        </div>

        <a class="download" href="?location" target="_blank">Download</a>

    </div>


{{ end }}