{{ define "entrystyle" }}
<style>
    .entry {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 6px;
        border-radius: 4px;
        margin: 4px 0;
    }

    .entry:hover {
        background: rgb(43,42,51);
        text-decoration: none;
    }

    .entry > * {
        margin: 0 4px;
    }

    .entry > :first-child {
        flex-grow: 1;
        font-weight: 700;
    }

    .entry > :not(:first-child) {
        color: rgb(133, 138, 150);
    }

    .entry .metadata :not(:last-child) {
        margin-right: 12px;
    }
</style>
{{ end }}