{{ define "globalstyle" }}
    <style>
        html, body {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;

            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
            background: rgb(28, 27, 34);
            color: rgb(212, 218, 225);
        }

        select {
            cursor: pointer;
            padding: 8px;
            outline: none;
            border-radius: 4px;
            background: rgb(56, 60, 74);
            color: rgb(212, 218, 225);
            border: none;
            font-size: .9em;
        }

        select:hover {
            background: rgb(86, 92, 108);
        }
    </style>
{{ end }}